[submodule "plugins/marketplaces/superpowers-marketplace"]
	path = plugins/marketplaces/superpowers-marketplace
	url = git@github.com:obra/superpowers-marketplace.git
[submodule "skills/humanizer"]
	path = skills/humanizer
	url = https://github.com/blader/humanizer
